{
    "telegram_configs": [
        {
            "token": "0000000:AAAAA-bjekbs8t-NHskejuushGJ4flHlTDo",
            "help_message": "Arbitrary help message",
            "default_repetitions": 1,
            "repetitions_question": "What amount of repetitions do you prefer?",
            "log_level": "info",
            "fetcher_delay": 1000000,
            "translator_delay": 1000000,
            "sender_delay": 1000000,
            "fetchers_amount": 1,
            "translators_amount": 1,
            "senders_amount": 1
        }
    ],
    "vk_configs": [
        {
            "access_token": "3e142ckehdb63901e4dbac90086792e66eed123f50367fd8b67kehvgqlneutad888e57b3479331fb2b46b9",
            "group_id": "201626487",
            "fetcher_timeout": 25,
            "help_message": "Arbitrary help message",
            "default_repetitions": 1,
            "repetitions_question": "What amount of repetitions do you prefer?",
            "log_level": "info",
            "fetcher_delay": 1000000,
            "translator_delay": 1000000,
            "sender_delay": 1000000,
            "fetchers_amount": 1,
            "translators_amount": 1,
            "senders_amount": 1
        }
    ]
}
